#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        'bioImage bio bio'
        'aw1 aw2 aw3';
      grid-gap: 1.2rem;
    }

    .bio-image {
      grid-area: bioImage;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
    }

    .award-1 {
      grid-area: aw1;
    }

    .award-2 {
      grid-area: aw2;
    }

    .award-3 {
      grid-area: aw3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }

  &-b {
    .progress{
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div{
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }
}